*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#0f172a;
    color:white;
    line-height:1.6;
}

.container{
    width:90%;
    max-width:1100px;
    margin:auto;
    padding:40px 0;
}

header{
    text-align:center;
    padding:80px 20px;
    background:#111827;
}

header h1{
    font-size:3rem;
}

nav{
    text-align:center;
    padding:20px;
    background:#1e293b;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
}

h2{
    margin-bottom:20px;
}

.card{
    background:#1e293b;
    padding:20px;
    margin-bottom:20px;
    border-radius:12px;
}

ul{
    margin-left:20px;
}

footer{
    text-align:center;
    padding:20px;
    background:#111827;
}
